.sw-cms-el-config-html-css-js-twig-code {
    .sw-cms-el-config-html-css-js-twig-code-switch {
        margin-top: 5px;
    }

    .sw-cms-el-config-html-css-js-twig-code-content-html {
        margin-bottom: 0;
    }

    .sw-cms-el-config-html-css-js-twig-code-content-css {
        margin-bottom: 0;
    }

    .sw-cms-el-config-html-css-js-twig-code-content-js {
        margin-bottom: 0;
    }

    .sw-code-editor {
        .sw-field {
            margin-bottom: 22px;
        }
    }
}
