{% block sw_cms_el_config_html_css_js_twig_code %}
    <div class="sw-cms-el-config-html-css-js-twig-code">
        {% block sw_cms_el_config_html_css_js_twig_code_tabs %}
            <sw-tabs
                position-identifier="sw-cms-element-config-html-css-js-twig-code"
                class="sw-cms-el-config-html-css-js-twig-code__tabs"
                default-item="content"
            >

                <template #default="{ active }">
                    {% block sw_cms_el_config_html_css_js_twig_code_tab_content %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.htmlCssJsTwigCode.config.tab.content')"
                            name="content"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.htmlCssJsTwigCode.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}

                    {% block sw_cms_el_config_html_css_js_twig_code_tab_settings %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.htmlCssJsTwigCode.config.tab.settings')"
                            name="settings"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.htmlCssJsTwigCode.config.tab.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template
                    #content="{ active }"
                >
                    {% block sw_cms_el_config_html_css_js_twig_code_content %}
                        <sw-container
                            v-if="active === 'content'"
                            class="sw-cms-el-config-html-css-js-twig-code__tab-content"
                        >
                            {% block sw_cms_el_config_html_css_js_twig_code_content_enable_twig_in_content_html %}
                                <mt-switch
                                    v-model="element.config.enableTwigInContentHtml.value"
                                    :label="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.enableTwigInContentHtml')"
                                    class="sw-cms-el-config-html-css-js-twig-code-switch"
                                    bordered
                                />

                                <mt-banner variant="attention">
                                    {{ $tc('sw-cms.elements.htmlCssJsTwigCode.config.label.warningEnableTwigInContentHtml') }}
                                </mt-banner>
                            {% endblock %}

                            {% block sw_cms_el_config_html_css_js_twig_code_content_content_html %}
                                <sw-code-editor
                                    :label="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.contentHtml')"
                                    :value="element.config.contentHtml.value"
                                    :set-focus="true"
                                    @update:value="onInput"
                                    @blur="onBlur"
                                    class="sw-cms-el-config-html-css-js-twig-code-content-html"
                                />

                                <mt-banner variant="attention">
                                    {{ $tc('sw-cms.elements.html.config.warning') }}
                                </mt-banner>
                            {% endblock %}

                            {% block sw_cms_el_config_html_css_js_twig_code_content_content_css %}
                                <sw-code-editor
                                    :label="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.contentCss')"
                                    :value="element.config.contentCss.value"
                                    :set-focus="true"
                                    @update:value="onInputCss"
                                    @blur="onBlurCss"
                                    class="sw-cms-el-config-html-css-js-twig-code-content-css"
                                />
                            {% endblock %}

                            {% block sw_cms_el_config_html_css_js_twig_code_content_content_js %}
                                <sw-code-editor
                                    :label="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.contentJavaScript')"
                                    :value="element.config.contentJavaScript.value"
                                    :set-focus="true"
                                    @update:value="onInputJs"
                                    @blur="onBlurJs"
                                    class="sw-cms-el-config-html-css-js-twig-code-content-js"
                                />
                            {% endblock %}
                        </sw-container>
                    {% endblock %}

                    {% block sw_cms_el_config_html_css_js_twig_code_settings %}
                        <sw-container
                            v-if="active === 'settings'"
                            class="sw-cms-el-config-html-css-js-twig-code__tab-settings"
                        >
                            {% block sw_cms_el_config_html_css_js_twig_code_settings_vertical_align %}
                                <mt-select
                                    v-model="element.config.verticalAlign.value"
                                    :label="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.verticalAlign')"
                                    :placeholder="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.verticalAlign')"
                                    :options="verticalAlignmentOptions"
                                />
                            {% endblock %}

                            {% block sw_cms_el_config_html_css_js_twig_code_settings_horizontal_align %}
                                <mt-select
                                    v-model="element.config.verticalAlign.value"
                                    :label="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.horizontalAlign')"
                                    :placeholder="$tc('sw-cms.elements.htmlCssJsTwigCode.config.label.horizontalAlign')"
                                    :options="horizontalAlignmentOptions"
                                />
                            {% endblock %}
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
