{% block sw_cms_block_preview_html_css_js_twig_code %}
    <div class="sw-cms-block-preview-html-css-js-twig-code">
        <sw-code-editor
            v-model:value="demoValue"
            :disabled="true"
            :editor-config="editorConfig"
        />
    </div>
{% endblock %}
